.full-height-map {
  height: 70vh;
  margin: auto;
  padding: 20px;
}

.small-map {
  height: 600px;
}

.adminContainer {
  width: 80%;
  margin: auto;
  margin-top: 25px;
}

.map-overlay {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  left: 50px; /* Adjust the left position as needed */
  z-index: 1000; /* Ensure a high z-index to position the elements above the map */
  border-radius: 15px;
}
